.index-page {
  font-family: Arial, sans-serif;
  padding: 20px;
}

.page-block {
  margin-bottom: 40px; /* Separar cada bloque */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.page-block h2 {
  margin-top: 0;
  font-size: 24px;
  color: #333;
}

h1 {
  text-align: center;
  margin-bottom: 40px;
}
